*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

body{
    background-color: rgb(216, 208, 209);
}

/* ----HEADER---- */

a{
    color:white;
    text-decoration: none;
    transition: all 250ms;
}

header{
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;

}

header nav{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    height: 100%;

}

.ulCentro, .ulDerecha{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Texto de "Elementos" */
.ulCentro{
    width: 2513px;/* ----2513---- */
}

/* Íconos */

.ulDerecha{
    width: 800px; /* ----700---- */
}

li, i{
    list-style: none;
    transition: all 250ms;
    padding: 5px;

}
li:hover, i:hover{
    background-color: gainsboro;
    color: black;
    border-radius: 2px;
}

li:hover a{
    color: black;
}

/* Logo */

.ulIzquierda{
    width: 800px; /* ----700---- */
    display: flex;
    align-items: center;
}

.ulIzquierda img{
    width: 100%; /* ----100---- */
}

/* ----Index---- */
section .divTexto{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
}

/* ----Footer---- */

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.footerv{
    color: white;
    background-color: black;
    padding: 40px 0;
}

.footer_row{
    display: flex;
    flex-wrap: wrap;
}

.footer_links{
    width: 25%;
    padding: 0 15px;
}

.footer_links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    display: inline-block;
}


.footer_links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer_links ul li a:hover{
    color: white;
    padding-left: 6;
}


.social a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: gray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}


.social a:hover{
    background-color: gray ;
}


/* Adaptabilidad */

@media (max-width: 767px){
     
    /* ----HEADER---- */
    
        a{
            color:white;
            text-decoration: none;
            transition: all 250ms;
        }
        
        header{
            width: 100%;
            height: 80px;
            background-color: black;
            color: white;
        
        }
        
        header nav{
            width: 100%;
            display:flex;
            justify-content: space-evenly;
            height: 100%;
        
        }
        
        .ulCentro, .ulDerecha{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
    /* Texto de "Elementos" */
        .ulCentro{
            width: 2513px;/* ----700---- */
        }
    
    /* Íconos */
        
        .ulDerecha{
            width: 400px; /* ----200---- */
        }
        
        li, i{
            list-style: none;
            transition: all 250ms;
            padding: 5px;
        
        }
        li:hover, i:hover{
            background-color: gainsboro;
            color: black;
            border-radius: 2px;
        }
        
        li:hover a{
            color: black;
        }
        
    /* Logo */
    
        .ulIzquierda{
            width: 400px; /* ----200---- */
            display: flex;
            align-items: center;
        }
        
        .ulIzquierda img{
            width: 100%; /* ----100---- */
        }
    
        
    }

    .section2{

        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .section2 div{
        
        width: 30%;
    }
    
    .section2 div img{
        width: 100%;
        border-radius: 10px;
        border: black 3px solid;
        transition: all 250 ms;
    }
    
    .section2 div img:hover{
        box-shadow: 0 0 10px 3px;
    }


    /* Animacion */
    .blurredBg {
        position: fixed;
        z-index: 1; /* Se asegura de que el fondo esté detrás del logo */    top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        backdrop-filter: blur(5px); 
    }
    .logoAnimation {
        width: 200px;
        position: fixed;
        z-index: 2; /* Asegura que el logo esté al frente de todo */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotateLogo 3s infinite linear, opacity 3s infinite linear; /* Animación que hace que el logo gire */
    }
    
    @keyframes rotateLogo {
        from {
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
        }
        to { 
            transform: translate(-50%, -50%) rotate(360deg) scale(5.5); 
        }
    }
    
    @keyframes opacity{
        0%{opacity: 1;}
        80%{opacity: 0.75;}
        90%{opacity: 0.5;}
        100%{opacity: 0;}
    }