body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Aria', sans-serif;
    background-color: rgb(216, 208, 209);
}


/* Parte 1*/
.inteButton{
    padding: 10px 20px;
    border: none;
    background-color: rgb(12, 27, 236);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.inteButton:hover{
    background-color: black;
    color: white;
}

/* Parte 2*/
.loading{
    width: 20%;
    height: 5%;
    background-color: white;
    margin: 10px 0;
    animation: loadBar 3s infinite;
    border: 3px black solid;
}

@keyframes loadBar{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

/* Parte 3*/
.inteCard{
    width: 200px;
    text-align: center;
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s;
}

.inteCard:hover {
    transform: scale(1.1) rotate(10deg);

}

.inteCard img{
    max-width: 100%;
    
}